# Disallow installing package versions released within the last 7 days
# (supply chain attack mitigation: avoid pulling in a malicious version right after publish)
# 7 days = 7 * 24 * 60 = 10080 minutes
minimum-release-age=10080
